/* Navbar */
.navbar {
  background-color: #f1ab2f;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.navbar a {
  color: #565555;
  text-decoration: none;
  margin-right: 1rem;
  transition: all 0.2s ease-in-out;
}

.navbar a:hover {
  color: #fff;
}

/* Main content */
.main-content {
  min-height: calc(100vh - 56px); /* subtract navbar height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  padding: 1.5rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.photo-section img {
  max-width: 100%;
  height: auto;
  margin-top: 1.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.photo-section input[type="file"] {
  display: none;
}

.photo-section button {
  display: block;
  width: 100%;
  padding: 1rem;
  background-color: #f1ab2f;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
  margin-top: 1.5rem;
}

.photo-section button:hover {
  background-color: #e0911d;
}

.photo-section label {
  display: block;
  width: 100%;
  padding: 1rem;
  background-color: #f1ab2f;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}

.photo-section label:hover {
  background-color: #e0911d;
}

/* Responsive */
@media screen and (max-width: 576px) {
  .navbar {
    flex-wrap: wrap;
  }

  .navbar a {
    margin-bottom: 1rem;
  }
}
