<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Photo Capture</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
        integrity="sha512-/+ZUvEt3qoW8N+zoGd9y1u20KhY/0nUfY5P5h5E3r3P3oF8pPYW1nBgp1dz+81zGdR8yWhWzQvQwEsSUsVxg=="
        crossorigin="anonymous"/>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="app.component.css">
</head>

<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <a class="navbar-brand" href="#">Photo Capture</a>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Eintrag 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Eintrag 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Eintrag 3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Eintrag 4</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="photo-section p-3 border rounded">
        <div class="mb-3">
          <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)"></webcam>
        </div>
        <button class="btn btn-primary btn-block" (click)="triggerSnapshot();">Foto aufnehmen</button>
        <div class="my-3">
          <img src="{{ captureImage }}" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="photo-section p-3 border rounded">
        <label for="file-input" class="btn btn-secondary btn-block">Datei auswählen</label>
        <input type="file" id="file-input" accept="image/*" class="form-control-file" style="display:none">
      </div>
    </div>
  </div>
</div>




<!-- Bootstrap JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@widgetbot/crate@3.1.1/dist/crate.umd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"
        integrity="sha512-cKXzP7oYbctAcELsvjABjMSNSC8FpejAIhdkHtlM7fZzvXZV7FQTa0jMaVH5u6v5y6bOuHm/V0jzrTyxQq8Wzg=="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"
        integrity="sha512-8/iqj4w4Bo42xpGQ2IlBRXjgLOxATxOeJTLIjfsTHm0DKjEdBXOwL5duClp5hlgNZPLZVgM1zRuXL1V7YDh/uw=="
        crossorigin="anonymous"></script>
</body>

</html>

